<div class="container" style="min-height: 2.5em"></div>
<mat-toolbar style="margin-top: -1.5em">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <ul>
                    <li>Add Company</li>
                    <li style="margin-left: 2em">Manage Officers</li>
                </ul>
            </div>
            <div class="col-md-3" style="text-align: right;padding-right: 4em">
                <h3>Placement Portal</h3>
            </div>
        </div>
    </div>
</mat-toolbar>
<div class="container-fluid">
    <div class="row" style="height: 80vh!important">
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>