<!-- <p>auth works!</p>
<router-outlet></router-outlet> -->

<div class="holder">
    <div class="container-flex">
        <div class="row">
            <div class="col-md-8">
                <div class="home-header-title">
                    <h1 style="margin-bottom:-0.5em">It is time to </h1>
                    <span class="typing-element"></span>
                </div>
            </div>
            <div class="col-md-4 login ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>