.login{
    background: white;
    height: 100vh;
    padding: 4em 0em 4em 4em
}
.login-container{
    margin-top: 3em!important;
    width: 100%
}

h1{
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.example-form {
    min-width: 100px;
    max-width: 550px;
    width: 100%;
    margin-top: 2.5em;
}
  
.example-full-width {
    width: 100%;
}

button {
     border-radius: 0px!important;
}
