<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">list</mat-icon>
      Summary
    </ng-template>
    <app-summary></app-summary>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">person</mat-icon>
      Personal Info
    </ng-template>
    <app-personal-info></app-personal-info>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">work</mat-icon>
      Experience
    </ng-template>
    <app-experience></app-experience>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">subject</mat-icon>
      Projects
    </ng-template>

    <app-projects></app-projects>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">account_balance</mat-icon>
      Education
    </ng-template>

    <app-education></app-education>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">build</mat-icon>
      Skills
    </ng-template>
    <app-skills></app-skills>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">file_download</mat-icon>
      Download
    </ng-template>

    <app-download></app-download>
  </mat-tab>
</mat-tab-group>
